script(async='' custom-element='amp-mega-menu' src='https://cdn.ampproject.org/v0/amp-mega-menu-0.1.js')
script(async='' custom-element='amp-sidebar' src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js')
script(async='' custom-element='amp-bind' src='https://cdn.ampproject.org/v0/amp-bind-0.1.js')
script(custom-element='amp-list' src='https://cdn.ampproject.org/v0/amp-list-0.1.js' async='')
script(custom-template='amp-mustache' src='https://cdn.ampproject.org/v0/amp-mustache-0.2.js' async='')
script(async='' custom-element='amp-social-share' src='https://cdn.ampproject.org/v0/amp-social-share-0.1.js')
script(async='' custom-element='amp-fx-collection' src='https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js')
script(async='' custom-element='amp-fx-flying-carpet' src='https://cdn.ampproject.org/v0/amp-fx-flying-carpet-0.1.js')
script(async='' custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js")
script(async='' custom-element='amp-animation' src='https://cdn.ampproject.org/v0/amp-animation-0.1.js')
script(async='' custom-element='amp-form' src='https://cdn.ampproject.org/v0/amp-form-0.1.js')
