header#header-xl
  amp-mega-menu#menu(height='46' layout='fixed-height')
    nav(style='display: flex;flex-direction: row; height: 100%; align-items: center;')
      ul#hide-xs
        li
          span.flex-center.font-logo
            amp-img(alt='A view of the sea' src='static/svg/chess-knight-solid.svg' width='40' height='40')
            | Knight
        li.menu-item.font-roboto
          span(role='button') O nas
          .content-menu(role='dialog')
            ul
              li
                | item 1
              li item 2
              li item 3
        li.menu-item.font-roboto
          a(href='wydarzenia.html') Wydarzenia
        li.menu-item.font-roboto
          a(href='https://amp.dev/') Do&lstrok;&aogon;cz do nas
          
header#header-xs
  span.flex-center.font-logo
    amp-img(alt='A view of the sea' src='chess-knight-solid.svg' width='40' height='40')
    | Knight
  button#list.sidebar-open-btn.hamburger.hamburger--elastic(on='tap:sidebar.toggle')
    span.hamburger-box
      span.hamburger-inner
