main(style='display: flex; flex-direction: column; justify-content: center; align-items: center')
    h2.font-roboto
        | Zostan Sponsorem
    h5.font-roboto
        | Pomóż nam się rozwijać i zyskaj rozpoznawalność wśród miłośników szachów

    amp-carousel.carousel1.font-roboto(height='490' width='500' type='slides')
        .slide
            amp-img(src='static/svg/pawn.svg' layout='responsive' width='500' height='340' alt='Border Collie')
            amp-fit-text(layout='responsive' width='500' height='150')
             h2.text-center Podstawowy
             | Doceniasz nasze starania i chcesz nas wesprzeć drobną kwotą
             br
             b W zamian otrzymasz:
             ol
                li Informacja na naszej stronie o byciu sponsorem
                li Możliwość wpływania na dalsze prowadzenie klubu
        .slide
            amp-img(src='static/svg/chess-knight-solid.svg' layout='responsive' width='500' height='340' alt='Shetland Sheepdog')
            amp-fit-text(layout='responsive' width='500' height='150')
             h2.text-center Zaangażowany
             | Zależy Ci na tym abyśmy posiadali komfortowe warunki rozwoju i wesprzesz nas kwotą od 500zł miesięcznie
             br
             b W zamian otrzymasz:
             ol
                li Informacja na naszej stronie o byciu sponsorem
                li Możliwość wpływania na dalsze prowadzenie klubu
                li Umieszczenie twojego logo na drużynowych koszulkach
        .slide
            amp-img(src='static/svg/crown.svg' layout='responsive' width='500' height='340' alt='Shetland Sheepdog')
            amp-fit-text(layout='responsive' width='500' height='150')
             h2.text-center Partner
             | Chcesz być dla nas kluczowym partnerem i wesprzeć nas kwotą powyżej 1000zł miesięcznie
             br
             b W zamian otrzymasz:
             ol
              li Informacja na naszej stronie o byciu sponsorem
              li Możliwość wpływania na dalsze prowadzenie klubu
              li Umieszczenie twojego logo na drużynowych koszulkach
              li Realny wpływ na funkcjonowanie klubu
              li Umieszczenie twojego logo na wszystkich naszych materiałach promocyjnych
    a(href='mailto:ftims@edu.p.lodz.pl')
     button(style='background: red; color: white; border-radius: 15px') Zostań sponsorem