main.font-roboto
  amp-video(width='640' height='360' layout='responsive' autoplay loop)
    source(src='https://pythonic.pl/static/videos/1.webm' type='video/webm')
    source(src='https://pythonic.pl/static/videos/1.mp4' type='video/mp4')
    div(fallback='')
      p This browser does not support the video element.

  //- amp-youtube(autoplay loop data-videoid='8D_rLRqFEnE' layout='responsive' width='1920' height='1080')
  section#aboutus
    h1 O nas
    p
      | Jeste&sacute;my klubem szachowym politechniki &lstrok;&oacute;dzkiej, &lstrok;&aogon;czy nas mi&lstrok;o&sacute;&cacute; do kr&oacute;lewskiej gry jak&aogon; s&aogon; szachy oraz
      | nieustanna che&cacute;&nbsp;rywalizacji oraz
      | zwi&eogon;kszania w&lstrok;asnych umiej&eogon;tno&sacute;ci w tej wspania&lstrok;ej grze.
  .divider-chess
  section#members   
    h3 Członkowie  
    amp-list(width='auto' height='800' layout='fixed-height' src='https://pythonic.pl/members')
      template(type='amp-mustache')
        .user-entry(amp-fx="fade-in" data-duration="2000ms" data-easing="cubic-bezier(0.40, 0.00, 0.40, 1.00)")
          .photo
            .photo-inner
              amp-img(src='{{photo}}' width='200' height='200' alt='an image')
          
          .about
            h3
              | {{name}}
            | {{about}}
          //- .stats
          //-   | {{stats}}
    
  amp-fx-flying-carpet(height='300px')
    amp-img(src='/static/img/chess.webp' width='1920' height='1080' alt='an image')

  section#kontakt
    h3 Kontakt
    ul
      li Telefon +(44) 880 123 456
      li E-mail test@p.lodz.pl
      li Adres Wolczanska 123 Łódź
    p.social-share
      amp-social-share(type='twitter' width='60' height='44')
      amp-social-share(type='facebook' width='60' height='44' data-attribution='254325784911610')  
      amp-social-share(type='email' width='60' height='44')
      amp-social-share(type='pinterest' width='66' height='44')
      amp-social-share(type='system' width='66' height='44')
    amp-img(src='/static/img/map.png' width='400' height='200' alt='an image')
