main.font-roboto
  h3 O nas
  p
    | Jeste&sacute;my klubem szachowym politechniki &lstrok;&oacute;dzkiej, &lstrok;&aogon;czy nas mi&lstrok;o&sacute;&cacute; do kr&oacute;lewskiej gry jak&aogon; s&aogon; szachy oraz
    | nieustanna che&cacute;&nbsp;rywalizacji oraz
    | zwi&eogon;kszania w&lstrok;asnych umiej&eogon;tno&sacute;ci w tej wspania&lstrok;ej grze.
