main.font-roboto
    .events
        .grid-container
            .nazwa Spotkanie organizacyjne
            .data 24.01.2020
            .opis Na tym spotkaniu wybieramy przewodniczącego klubu.
                br
                span(style='color:red') Obecność dla członków obowiązkowa!
        .grid-container
            .nazwa Mistrzostwa Polski
            .data 11.05.2020
            .opis Nasz klub bierze udział w mistrzostawach Polski, zapraszamy wszystkich do przybycia i dopingowania naszej drużyny!
        .grid-container
                .nazwa Piknik plenerowy
                .data 19.07.2020
                .opis Proszę przynieść kiełbaski i napoje.

        .grid-container
                .nazwa Spotkanie organizacyjne
                .data 03.09.2020
                .opis Na tym spotkaniu dyskutujemy nad zmianą naszej strony internetowej.
                    br
                    span(style='color:red') Obecność dla członków obowiązkowa!

        