amp-sidebar#sidebar(layout='nodisplay' side='right' on="sidebarClose:list.toggleClass(class='is-active'); sidebarOpen:list.toggleClass(class='is-active')")
  ul
    li Nav item 1
    li Nav item 3
    li Nav item 5
    li Nav item 6
